*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar .logo  img{
    width: 50%;
    height: 50%;
    margin: 13px 23px ;
    padding: 10px;

}

.navbar .icons ul {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* margin-right: 20px; */
}
.navbar .icons ul a{
    padding-top: 20px;
    font-size: larger;
    margin-left: 25px;
}

.search .form-control{
    background: rgb(233, 232, 232);
    padding: 7px;
    border-radius: 20px;
    width: 70%;
    margin-left: 65px;
}
/* segundo navbar  */
.navbar-2{
    padding: 1px;
    
}

.navbar-2 button i{
    font-size: 30px;
}
.navbar-2 button span{
    color: gold;
}

.navbar .container-fluid .btn{
    text-align: center;
    /* background-color: aqua; */
    width: 100%;
}


.navbar-2 button{
    margin-left: 30px;
    border: none;
    background: none;
    color: rgb(223, 217, 217);
    padding: 0.1em;
    font-size: 13px;
}
/* .navbar-2 button:last-child{
    border-right: none;
} */
.navbar  .menu-btn i{
    font-size: 23px;
    cursor: pointer;
    color: aliceblue;
    display: none;
}

/* sale section  */

/* .contenedor{
    display: flex;

} */






@media(max-width: 765px) {
    .menu-btn{
        position: fixed;
        display: block;
        z-index: 9999;
    }

    .navbar .btn{
        position: fixed;
        height: 100vh;
        width: 100%;
        /* left: -100%; */
        top: 0;
        /* background: #111; */
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    
    .navbar .btn button{
        display: block;
        color: white;
        z-index: 9999;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 20px;

    }
    /* .navbar  */
    /* .carousel{
        display: none;
    } */
}