*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 13px;
    margin: 0;
}

.navbar .logo  img{
    width: 50%;
    height: 50%;
    margin: 13px 23px ;
    padding: 10px;

}

.navbar .icons ul {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* margin-right: 20px; */
}
.navbar .icons ul a{
    padding-top: 20px;
    font-size: larger;
    margin-left: 25px;
}

.search .form-control{
    background: rgb(233, 232, 232);
    padding: 7px;
    border-radius: 20px;
    width: 70%;
    margin-left: 65px;
}
/* segundo navbar  */
.navbar-2{
    padding: 1px;
    
}

.navbar-2 button i{
    font-size: 30px;
}
.navbar-2 button span{
    color: gold;
}


.navbar-2 button{
    margin-left: 30px;
    border: none;
    background: none;
    color: rgb(223, 217, 217);
    padding: 0.1em;
    border-right: 1px solid rgb(73, 73, 73);
    font-size: 13px;
}
.navbar-2 button:last-child{
    border-right: none;
}
